body{
    text-align: center;
    background-image: url(./1761109835911.jpg);
}
header img{
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid black;
}
.buttons{
    text-align: center;
    color: black;
   padding: 15px;
   background-color: whitesmoke;
   text-emphasis-color: black;
   font-size: 1.8rem;
   border-bottom: 3px solid transparent;

}
header{
    
}